<nav class="site-nav">
  <ul class="site-nav__list">
    <li class="site-nav__item">
      <a
        href="/vote"
        class="site-nav__link <%= toggle.setCurrentPage('vote') %>"
      >
        <i class="left-nav-icon fas fa-person-booth"> </i>
        <span class="nav-text">Vote</span>
      </a>
    </li>
    <li class="site-nav__item">
      <a
        href="/candidates"
        class="site-nav__link <%= toggle.setCurrentPage('candidates') %>"
      >
        <i class="left-nav-icon fas fa-id-card"> </i>
        <span class="nav-text">Candidates</span>
      </a>
    </li>
    <li class="site-nav__item">
      <a
        href="/results"
        class="site-nav__link <%= toggle.setCurrentPage('results') %>"
      >
        <i class="left-nav-icon fas fa-chart-bar"> </i>
        <span class="nav-text">Results</span>
      </a>
    </li>
    <li class="site-nav__item">
      <a
        href="#"
        class="site-nav__link <%= toggle.setCurrentPage('profile') %>"
      >
        <i class="left-nav-icon fas fa-user"> </i>
        <span class="nav-text">Profile</span>
      </a>
    </li>
    <li class="site-nav__item">
      <a href="#" class="site-nav__link <%= toggle.setCurrentPage('admin') %>">
        <i class="left-nav-icon fas fa-user-cog"></i>
        <span class="nav-text">Admin</span>
      </a>
    </li>
  </ul>
</nav>
