<section class="main-content__col-2">
  <div class="content-description">
    <p><%= content[lang].descr5 %></p>
    <ul class="description-list">
      <li class="description-item"><%= content[lang].feature1 %></li>
      <li class="description-item"><%= content[lang].feature2 %></li>
      <li class="description-item"><%= content[lang].feature3 %></li>
      <li class="description-item"><%= content[lang].feature4 %></li>
      <li class="description-item"><%= content[lang].feature5 %></li>
      <li class="description-item"><%= content[lang].feature6 %></li>
      <li class="description-item has-love">
        <%= content[lang].builtWithLove %>
      </li>
    </ul>
    <a href="/register" class="btn btn-primary btn-link getting-started-btn">
      <%= content[lang].gettingStartedBtn %>
    </a>
  </div>
</section>
