<section class="main-content__col-1">
  <section class="col-1-content">
    <h1 class="main-content__col-1__title"><%= content[lang].pageTile %></h1>
    <p class="main-content__col-1__text"><%= content[lang].descr1 %></p>
    <p class="main-content__col-1__text"><%= content[lang].descr2 %></p>
    <p class="main-content__col-1__text">
      <%= content[lang].descr3 %>
      <span
        class="txt-rotate"
        data-period="2000"
        data-rotate="<%= content[lang].descr4 %>"
      >
      </span>
    </p>
  </section>
</section>
