<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title><%= title %></title>
  </head>
  <body class="main-body">
    <section class="body-content">
      <h1 class="title"><%= pageTitle %> | <%= appName %></h1>

      <form action="/login" method="post" class="auth-form">
        <section class="form-content">
          <div class="row-content identifiant">
            <label for="username" class="label-auth"
              ><%= usernameLabel %> :
            </label>
            <input
              type="text"
              id="username"
              name="username"
              class="input-field pass-auth"
            />
          </div>
          <div class="row-content password">
            <label for="password" class="label-auth">
              <%= passwordLabel %> :
            </label>
            <input
              type="password"
              id="password"
              name="password"
              class="input-field pass-auth"
            />
          </div>
          <div class="row-content btn-row">
            <button class="reset-btn" type="reset"><%= resetBtn %></button>
            <button class="submit-btn" type="submit"><%= submitBtn %></button>
          </div>
        </section>
      </form>
    </section>
  </body>
</html>
