<form action="/register" method="post" class="auth-form">
  <section class="form-content">
    <div class="row-content identifiant">
      <input
        type="text"
        id="username"
        name="username"
        minlength="2"
        pattern="[a-z_]{2,}"
        placeholder="<%= content[lang].usernameLabel %>"
        class="input-field pass-auth"
        required
      />
    </div>

    <div class="row-content identifiant">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="<%= content[lang].emailLabel %>"
        class="input-field pass-auth"
        required
      />
    </div>

    <div class="row-content identifiant">
      <input
        id="cin"
        type="number"
        title="Numbers only, please."
        name="cin"
        pattern="\d*"
        placeholder="<%= content[lang].cinLabel %>"
        class="input-field pass-auth"
        required
      />
    </div>

    <div class="row-content password">
      <input
        type="password"
        id="password"
        name="password"
        placeholder="<%= content[lang].passwordLabel %>"
        class="input-field pass-auth"
        required
      />
    </div>

    <div class="row-content identifiant">
      <input
        type="date"
        id="birthDate"
        name="birthDate"
        placeholder="<%= content[lang].birthdateLabel %>"
        class="input-field"
        required
      />
    </div>
    <div class="row-content btn-row">
      <button class="reset-btn" type="reset">
        <%= content[lang].resetBtn %>
      </button>
      <button class="submit-btn" type="submit">
        <%= content[lang].submitBtn %>
      </button>
    </div>
  </section>
</form>
